﻿@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.ProductVM>
@{
    ViewBag.Title = ViewBag.CategoryName;
}
<style>
    #products-view .pi-text {
        color:black;
    }
    #products-view .product-item {
        padding-top:15px;
        background: white;
    }
</style>
<h2>@ViewBag.CategoryName</h2>
@foreach (var item in Model)
{
    <div id="products-view" class="product-list">
        <div class="">
            <div class="col-lg-4 col-sm-6">
                <div class="card product-item ">
                    <div class="pi-pic">
                        <a href="/shop/product-details/@item.Slug">
                            <img class="card-img-top" style=" width:300px; " src="/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName" />
                        </a>
                        <ul>
                            <a href="/shop/product-details/@item.Slug">Details</a>
                        </ul>
                    </div>
                    <div  class="card-body pi-text">
                        @Html.DisplayFor(modelItem => item.Name)
                        <div>
                            <span>Author: @Html.DisplayFor(modelItem => item.Author) </span>
                        </div>
                        <div class="product-price">
                            @Html.DisplayFor(modelItem => item.Price)$

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
}
<link href="~/Content/css/mystyle.css" rel="stylesheet" />
