﻿@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.CategoryVM>

<h3 style="color:antiquewhite">Categories</h3>
<style>
    #list_product {
        border: 1px solid #A2F9F9;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color:  #414535;
    }
        #list_product li {
            align-items:flex-start;
            list-style: none;
            padding: 16px 5px 16px 16px;
            border-bottom:1px solid white;
        }
            #list_product li:hover {
                background-color: wheat;
            }
            #list_product li:hover a{
                color:black;
                      
            
                }
            #list_product li a {
                text-decoration: none;
                color: antiquewhite;
            }
            
</style>
<ul id="list_product">
    @foreach (var item in Model)
    {
        <li><a href="/shop/category/@item.Slug.ToLower()">@item.Name</a></li>
    }
</ul>

