﻿@model IEnumerable<CmsShoppingCart.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@if (! Model.Any())
{
    <h3 class="text-center">There are no orders.</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Username
            </th>
            <th>
                Address
            </th>
            <th>
                Order Details
            </th>
            
            <th>
                Created At
            </th>
            <th>
                Total
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
           <td>
                @foreach (var item2 in item.ProductsAndQty)
                {
                    @item2.Key @:x @item2.Value <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
    }

    </table>
}
